<h2>Template: Básicos</h2>
<hr />

<div class="row">
   <div class="col">
   
    <form (ngSubmit)="guardar(miFormulario)" 
            #miFormulario="ngForm"
            autocomplete="off">

      <!-- STUB - Campo de productos -->
      <div class="mb-3 row">
         <label class="col-sm-3 col-form-label" >Productos</label>

         <div class="col-sm-9">
            <input
               type="text"
               class="form-control"
               ngModel
               name="producto"
               placeholder="Nombre del producto"
               required
            />

            <span class="form-text text-danger">Debe tener 3 letras</span>
         </div>

      </div>
      
      <!-- STUB - Campo de precios -->
      <div class="mb-3 row">
         <label class="col-sm-3 col-form-label" >Precios</label>

         <div class="col-sm-9">
            <input
               type="number"
               class="form-control"
               ngModel
               name="precios"
               placeholder="Precio del producto"
               required
               min="0"
            />
         </div>
      </div>

      <!-- STUB - Campo de precios -->
      <div class="mb-3 row">
         <label class="col-sm-3 col-form-label" >Existencias</label>

         <div class="col-sm-9">
            <input
               type="number"
               class="form-control"
               ngModel
               name="existencias"
               placeholder="Existencias del producto"
            />
         </div>
      </div>

      <!-- STUB - Boton -->
      <div class="row">
         <div class="col">
            <button type="submit" 
                  class="btn btn-primary float-end">
               Guardar
            </button>
         </div>
      </div>
      
    </form>

  </div>
</div>


<!-- REVIEW - vista previa de valores del imput-->
<div class="row">
   <div class="col">

      <span>Valid</span>
      <pre>{{miFormulario.valid}}</pre>

      <span>Valid</span>
      <pre>{{miFormulario.value | json}}</pre>

   </div>
</div>
